<ion-header class="custom_header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon><img class="header-img" src="assets/icon/header-back.png"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Location</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div #map id="map"></div>
</ion-content>
