<ion-header class="custom_header">
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grey-bg">
  <div class="home">
    <div class="card-block">
      <div class="overview-block">
        Welcome {{user_info ? user_info.firstname : 'None'}} {{user_info ? user_info.lastname : 'None'}}
      </div>
    </div>
    <div>
        <div class="btn-left" >
            <button class="upload-btn" ion-button (click)="userLocation()">Show User Location</button>
          </div>
        <div class="btn-right">
          <button class="upload-btn" ion-button (click)="goToImageCaptirePage()">Click Image page</button>
        </div>
    </div>
  </div>
</ion-content>
