<ion-header class="custom_header">
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon><img class="header-img" src="assets/icon/header-back.png"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Upload Image</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="grey-bg">
  <div class="identification doc-upload width80">
    <div class="upload-photo">
      <ion-row>
        <ion-col col-6>
          <span class="identification_txt">*Photo Identification</span>
        </ion-col>
        <ion-col col-6>
          <div class="btn-right">
            <button class="upload-btn" ion-button (click)="uploadPic()">Upload</button>
          </div>
        </ion-col>
      </ion-row>
      <span></span>
      <img *ngIf="imageObject.imageToShow" [src]="imageObject.imageToShow" alt="Upload" style="height:120px; width:120px;" />
    </div>
    <!-- <div class="certificate-blocks">
      <h3 class="list-heading">Birth Certificate</h3>
      <div class="file-block">
        <button class="upload-btn" (click)="uploadPic('BIRTH_CERTIFICATE')" ion-button>Choose File</button>
        <span class="file_name" *ngIf="!imageBirthCerti">No file Chosen</span>
      </div>
      <img *ngIf="imageBirthCerti" [src]="imageBirthCerti" alt="Upload" style="height:120px; width:120px;" />
    </div>
    <div class="certificate-blocks">
      <h3 class="list-heading">Death Certificate</h3>
      <div class="file-block">
        <button class="upload-btn" (click)="uploadPic('DEATH_CERTIFICATE')" ion-button>Choose File</button>
        <span class="file_name" *ngIf="!imageDeathCerti">No file Chosen</span>
      </div>
      <img *ngIf="imageDeathCerti" [src]="imageDeathCerti" alt="Upload" style="height:120px; width:120px;" />
    </div>
    <div class="btn-block">
      <button class="btn-global btn-global54" ion-button block (click)="completeClaim()" [disabled]="!image">Complete
        Claim</button>
    </div> -->
  </div>
</ion-content>
