<!--
  Generated template for the StripePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stripe</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <h1>Custom Stripe Form</h1>
  
  <form  (submit)="getToken()">
  
    <div>
      <label>
        <span>Card Number</span>
        <input type="tel" [(ngModel)]="striped.cardNumber" name="card-number"  maxlength="20" >
      </label>
    </div>
  
    <div >
      <label>
        <span>Expiration (MM/YY)</span>
        <input type="tel" [(ngModel)]="striped.expiryMonth" name="expiry-month"  maxlength="2" >
      </label>
      <span> / </span>
      <input type="tel"[(ngModel)]="striped.expiryYear" name="expiry-year" maxlength="2" >
    </div>
  
    <div >
      <label>
        <span>CVC</span>
        <input type="password" [(ngModel)]="striped.cvc" name="cvc"  maxlength="4" >
      </label>
    </div>
    <button>
    <input type="submit" value="Submit Payment">
  </button>
  </form>

  <div *ngIf="token">
    <br>
    Your Token :- {{token}}
    <br>
    Card type :- {{type}}
  </div>
</ion-content>
