<!--
  Generated template for the SocilaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sharing</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<button ion-button secondary (click)="email()">
  <ion-icon ios="ios-mail" md="md-mail"> Share Via E-mail</ion-icon>
</button>
<button ion-button secondary (click)="fb()">
  <ion-icon ios="logo-facebook" md="logo-facebook"> Share Via Facebook</ion-icon>
</button>
<button ion-button secondary (click)="twit()">
  <ion-icon ios="logo-twitter" md="logo-twitter"> Share Via Twitter</ion-icon>
</button>
<button ion-button secondary (click)="whatsapp()">
  <ion-icon ios="logo-whatsapp" md="logo-whatsapp"> Share Via Whatsapp</ion-icon>
</button>
<button ion-button secondary (click)="msg()">
  <ion-icon ios="ios-chatboxes" md="md-chatboxes"> Share Via Message</ion-icon>
</button>
<button ion-button secondary  (click)="db()">
  <ion-icon ios="ios-instagram" md="md-instagram"> DB Add</ion-icon>
</button>
<button ion-button secondary  (click)="dbshow()">
  <ion-icon ios="ios-instagram" md="md-instagram"> DB Show</ion-icon>
</button>
<p>gthydftuydftuyd</p>
</ion-content>
